{{ template "base.layout" . }}

{{ define "content" }}
    <h1>Hello login</h1>
        <div class="container">
            {{ template "form:login" . }}
        </div>
{{ end }}

{{ define "styles" }}{{ end }}

{{ define "scripts" }}{{ end }}