{{ template "base.layout" . }}

{{ define "content" }}
    <h1>Hello register</h1>
    <div class="container">
        {{ template "form:register" . }}
    </div>
{{ end }}

{{ define "styles" }}{{ end }}

{{ define "scripts" }}{{ end }}